:root {
    --main-bg-color: rgb(250 250 250);
}

body {
    background-color: var(--main-bg-color);
    color: black;
    margin: 0 auto;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}
.overlay.show {
    display: block;
}

.header-form {
    padding: 1rem;
    font-size: 1.5rem;
    color: white;
    align-items: center;
    background-color: #36383b;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
}

.header-form > div {
    margin: 4px 0px;
}

.header-title {
    width: 66.66%;
}

.header-name {
    font-size: 1rem;
}

.parts-field {
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 0.35rem;
    padding: 0.35rem 0.75rem;
}

.parts-button {
    display: inline-block;
    padding: 0.35rem 0.75rem;
    background-color: #14c1e4;
    border: 1px solid #14c1e4;
    border-radius: 0.35rem;
    color: white;
}

.nav-hr {
    margin-top: 0;
    margin-bottom: 1rem;
}

.row-main {
    width: 80%;
    /* height: 100vh; */
    margin: 0 auto;
    display: flex;
}

.row-nav {
    display: flex;   
}

.col-main2 {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.nav-title {
    font-size: 1.5rem;
}

.nav-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
}

.nav-item {
    border-radius: 0.35rem;
    color: black;
    padding: 0.5rem 1rem;
    margin: 0.15rem 0;
    display: block;
    text-decoration: none;
    transition: background-color 0.30s ease-in-out;
}
.nav-item:hover:not(.nav-item-readme) {
    background-color: #83a0ff;
}

.nav-item-readme {
    background-color: rgb(251, 229, 214);
}

.login-form {
    margin-top: auto;
}

.login-title {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.login-row {
    display: flex;
    margin: 0 -1rem 0.5rem -1rem;
    width: 100%;
}

.login-col1 {
    width: 33.33%;
}

.login-col2 {
    width: 66.66%;
}

.login-message {
    font-size: 1.5rem;
}

.nav-button {
    position: relative;
    float: right;
    padding: 6px 10px;
    background-image: none;
    border: 1px solid white;
    border-radius: 4px;
    background: #333;
    color: #fff;
    font-size: 0.8rem;
    cursor: pointer;
    display: none;
}

.col-main1 {
    min-width: 250px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--main-bg-color);
}


@media (max-width: 767px) {
    .row-main {
        width: 100%;
    }

    .nav-button {
        display: block;
    }
    .col-main1 {
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 1000;
        transition: 0.3s;
    }

    .col-main1.open {
        left: 0;
    }
}

/* 万が一、ハンバーガーメニュー開く⇒ウィンドウを広げるとした場合 */
@media (min-width: 768px) {
    .overlay {
        display: none !important;
    }

    .col-main1 {
        position: static;
    }
}