.input-main {
    max-height: 90vh;
    overflow-y: auto;
}

.back {
    padding: 0.25rem;
    margin: 0.25rem 0;
}

.input-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.input-form {
    border: 1px solid rgb(220 220 220);
    padding: 1.5rem;
    margin: 0.5rem 0;
    width: 40vw;
}

.input-item {
    margin: 0.5rem 0;
}