{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}

{% block content %}
    <div class="index-main">
        <div class="search-form">
            <div class="search-wtf">
                <form method="GET" action="{{ url_for('main.index') }}">
                    {% if request.args.get("remark") %}
                        <input type="hidden" name="remark" value="true">
                    {% endif %}
                    <div class="row-wtf">
                        <div class="col-category">
                            {{ search.category_name.label }}
                            {{ search.category_name(class="parts-field") }}
                        </div>
                        <div class="col-datetime">
                            {{ search.study_date_start.label }}
                            {{ search.study_date_start(class="parts-field") }}
                        </div>
                        <div class="col-datetime">
                            {{ search.study_date_end.label }}
                            {{ search.study_date_end(class="parts-field") }}
                        </div>
                        <div class="col-button" style="margin-top: 1.5rem;">
                            {{ search.submit(class="parts-button") }}
                        </div>
                    </div>
                </form>
            </div>
            <div class="message">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}{{ messages[-1] }}{% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="table-result">
            <table>
                <tr>
                    <td>下記合計</td><td>{{ study_hours }}時間{{ study_minutes }}分</td>
                </tr>
            </table>
        </div>

        <div class="data-main">
            <div class="table-form">
                {% for rec in records: %}
                    <div class="rec-row">
                        <div class="rec-info">
                            <span class="rec-date">
                                <!-- 開始日時 -->
                                {{ rec.study_date_date_start }}
                                <span style="
                                    {% if '(土)' in rec.youbi_start %}color: blue;
                                    {% elif '(日)' in rec.youbi_start %}color: red;
                                    {% endif %}">
                                    {{ rec.youbi_start }}
                                </span>
                                {{ rec.study_date_time_start }}
                                ~ 
                                <!-- 終了日時(基本は時刻のみ。開始日付と違う場合は日付も入れる) -->
                                {% if rec.study_date_date_start != rec.study_date_date_end %}
                                    {{ rec.study_date_date_end }}
                                    <span style="
                                        {% if '(土)' in rec.youbi_end %}color: blue;
                                        {% elif '(日)' in rec.youbi_end %}color: red;
                                        {% endif %}">
                                        {{ rec.youbi_end }}
                                    </span>
                                {% endif %}
                                {{ rec.study_date_time_end }}
                                <span class="rec-duration">{{ rec.study_duration }}分</span>
                                <span class="rec-user">{{ rec.users.name }}</span>
                                <a href="{{ url_for('main.input_record', id=rec.id) if (username and user_id == rec.user_id) else '#' }}"
                                {% if not (username and user_id == rec.user_id) %}style="pointer-events: none; color: gray;"{% endif %}>
                                編集
                                </a>
                                <!-- aタグはPOSTに対応できない為、buttonで代用 -->
                                {% set login = (username and user_id == rec.user_id) %}
                                <form class="rec-delete" method="POST" action="{{ url_for('main.delete_record', id=rec.id) if login else '#' }}">
                                    <button type="submit"
                                    {% if not (username and user_id == rec.user_id) %}style="pointer-events: none; color: gray;"{% endif %}
                                    onclick="return confirm('削除します')" {% if not login %}disabled{% endif %}>削除</button>
                                </form>
                            </span>
                        </div>
                        <div class="rec-category"><h2>{{ rec.categories.category_name }}</h2></div>
                        <div class="rec-confirm-remark">
                            <div class="rec-confirm">{{ rec.confirm }}</div>
                            {% if request.args.get("remark") and rec.remark %}
                                <div class="rec-remark">備考や感想: <br>{{ rec.remark }}</div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="table-duration">
                {% if records %}
                    <div class="graph-duration">
                        {{ fig_html | safe }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}