{% extends "base.html" %}
{% block title %}新規入力{% endblock %}

{% block content %}
    <h2 class="mb-4">新規入力</h2>
    <div class="row">
        <div class="col-6">
            <form method="POST" action="{{ url_for('main.input_record') }}">
                {{ forms.hidden_tag() }}

                id: {{ id if id else "新規登録" }}<br> 
                入力/編集者: {{ username }}<br>
                <div class="mb-3 row">
                    <div class="col-auto">
                        {{ forms.study_date_start.label(class="form-label") }}
                        {{ forms.study_date_start(class="form-control") }}
                    </div>
                    <div class="col-auto">
                        {{ forms.study_date_end.label(class="form-label") }}
                        {{ forms.study_date_end(class="form-control") }}
                    </div>
                </div>
                <div class="mb-3">
                    {{ forms.confirm.label(class="form-label") }}
                    {{ forms.confirm(class="form-control", style="white-space: pre-wrap; word-break: break-word;") }}
                </div>
                <div class="mb-3">
                    {{ forms.remark.label(class="form-label") }}
                    {{ forms.remark(class="form-control", style="white-space: pre-wrap; word-break: break-word;") }}
                </div>
                <div class="mb-3">
                    {{ forms.submit(class="btn btn-info", style="color: white;") }}
                </div>
            </form>
        </div>
    </div>

    <form method="POST" action="{{ url_for('main.index') }}"> 
        <button type="submit" class="btn btn-info", style="color: white;">メイン画面に戻る</button>
    </form>

{% endblock %}
