{% extends "base.html" %}
{% block title %}新規入力{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='input.css') }}">
{% endblock %}
{% block content %}
    <div class="input-main">
        <div class="back">
            <form method="GET" action="{{ url_for('main.index') }}"> 
                <button type="submit" class="parts-button">メイン画面に戻る</button>
            </form>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {{ messages[-1] }}
            {% endif %}
        {% endwith %}

        <div class="input-form">
            <h2 class="input-item">新規登録</h2>
            <div class="input-row">
                <form method="POST" action="{{ url_for('main.input_record') }}">
                    {{ r_forms.hidden_tag() }}

                    <div class="input-item">
                        id: {{ id if id else "新規登録" }}
                    </div>
                    
                    <div class="input-item">
                        入力/編集者: {{ username }}
                    </div>

                    <div class="input-item input-row">
                        <div style="margin-left: 0.5rem;">
                            {{ r_forms.study_date_start.label }}
                            {{ r_forms.study_date_start(class="parts-field", style="display: block;") }}
                        </div>
                        <div style="margin-left: 0.5rem;">
                            {{ r_forms.study_date_end.label }}
                            {{ r_forms.study_date_end(class="parts-field", style="display: block;") }}
                        </div>
                    </div>

                    <div class="input-item">
                        {{ r_forms.category_name.label }}
                        {{ r_forms.category_name(class="parts-field") }}
                    </div>

                    <div class="input-item">
                        {{ r_forms.confirm.label }}
                        {{ r_forms.confirm(class="parts-field", style="white-space: pre-wrap; word-break: break-word;") }}
                    </div>

                    <div class="input-item">
                        {{ r_forms.remark.label }}
                        {{ r_forms.remark(class="parts-field", style="white-space: pre-wrap; word-break: break-word;") }}
                    </div>
                    {% if username != "guest" %}
                        {{ r_forms.submit(class="parts-button") }}
                    {% else %}
                        "***guestの為、送信ボタンはありません。このページは閲覧用です。***"
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="input-form">
            <h2 class="input-item">カテゴリ追加</h2>
            <form method="POST" action="{{ url_for('main.insert_category') }}">
                <div class="input-item">
                    {{ c_forms.category_name.label }}
                    {{ c_forms.category_name(class="parts-field") }}
                </div>
                {{ c_forms.hidden_tag() }}
                {% if username != "guest" %}
                    {{ c_forms.submit(class="parts-button") }}
                {% else %}
                    "***guestの為、送信ボタンはありません。このページは閲覧用です。***"
                {% endif %}
            </form>
        </div>
        <div class="back">
            <form method="GET" action="{{ url_for('main.index') }}"> 
                <button type="submit" class="parts-button">メイン画面に戻る</button>
            </form>
        </div>
    </div>
{% endblock %}
